<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @user.username %></h1>
    <p>
      We bring you these questions to review to <strong>reinforce</strong> your learning! 
      Just follow this link: <%= @url %>
    </p>
    <p>Thanks, have a great day!</p>
  </body>
</html>
